<html>
    <head>
        <meta charset="utf-8">
        <title>Updating</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h2>Update Task</h2>

        <form onsubmit="updateTask(); return false ">
            <input name="id" type="hidden"  value="<%=task['_id']%>">
            <input name="content" value="<%=task['content']%>" autofocus>
            
            <input type="submit" value="Update Task">
        </form>

        <a href="/">Home</a>

        <script>
            function updateTask(){
                id = document.querySelector("input[name=id]").value
                content = document.querySelector("input[name=content]").value
                
                fetch("/tasks", {
                    method: 'put',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        'id': id,
                        'content': content
                    })
                })
                .then( res => res.json() )
                .then( data => {
                    console.log(data)
                    location.replace("/")
                })
            }

            document.querySelector('input[name=content]').focus()    


        </script>

    </body>
</html>
